.DS_Store
__pycache__
.vscode

batch/
code/
config/CNN/
config/SiT_BGT/
config/SiT_BGT_VAE/
config/SiT_LN_VAE/
data/
images/
LocalTransformerTests/
model_out/
models/CNN*
models/*kraken*
models/models_*
models/ms_*
models/sit.py
patch_extraction/reorder_patches/
prep_datasets/
tmp_files/
tools/CNN/
tools/kraken*
tools/SiT_BGT*
tools/SiT_LN_VAE/
tools/SiT_LN/old/
utils/*.csv
utils/*.txt
utils/*.npy
utils/old/
utils/subj_ids/
utils/surfaces/resamp*
utils/surfaces/test*

